<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Issued Assets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include "assets/navbaradmin.html" %}

    <div class="container mt-5">
        <h3 class="p-3 mb-2 bg-info text-white" style="text-align:center;">View Issued Assets</h3>


        <!-- Displaying issued Assets -->
        <div class="mt-4">
            <table class="table table-hover table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Staff Enrollment</th>
                        <th>Asset Identifier</th>
                        <th>Asset Condition</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="links"></div>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    {% for issuedasset in issuedassets %}
                        <tr>
                            <td>{{ issuedasset.enrollment }}</td>
                            <td>{{ issuedasset.identifier }}</td>
                            <td>{{ issuedasset.condition }}</td>
                            <td>
                                <a href="{% url 'Assets:edit_issued_asset' issuedasset.id %}" class="btn btn-info btn-sm">Edit</a>
                                <a href="{% url 'Assets:delete_issued_asset' issuedasset.id %}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</body>
</html>
